<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LVZC ATO AIR</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% load staticfiles %}
    {% bootstrap_javascript %}
  </head>
  <body>
<style type="text/css">
    .ingave-class{
    	margin: 20px;
	body: 900px;
    }
span.required:after { content: "*"; }
</style>
<!-- Left-aligned -->
<div class="media">
  <div class="media-left">
    <img src="{% static "Logo_LVZC_blauw.jpg" %}" class="media-object" style="width:300px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">LVZC AIR </h4>
    <p><b>A</b>ccident & <b>I</b>ncident <b>R</b>egister</p>
  </div>
</div>
   <div class="container-fluid">
    {% block content %}
    {% endblock %}
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <footer>
                <p>© Copyright 2017 Object IT bvba</p>
            </footer>
        </div>
    </div>

   </div>

  </body>
</html>