{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<script>
$(document).ready(function() {
	$('.has-popover').popover({'trigger':'hover'});
	$('.datepicker').datepicker({'dateFormat':'dd/mm/yy'});
});
</script>
{% include "navbar_simpel.html" %}
<div class="export-class">
   <form  class="form-vertical" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="vertical" %}
        {% buttons submit='Uitvoeren' reset="Cancel" layout='horizontal' %}{% endbuttons %}
    </form>
</div>
{% endblock %}