{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="ingave-class">
{% include "navbar_simpel.html" with lijst="maatregel" %}      
{% if object_list %}
    <div class="ingave-lijst">
	<table class="table table-bordered">
        <thead>
            <tr>
	        <th>Club</th>
                <th>Datum voorval</th>
                <th>Synopsis</th>
                <th>Maatregel omschrijving</th>
	        <th>In werking</td>
            </tr>
        </thead>
        <tbody>
	  {% for maatregel in object_list %}
	    <td>{{ maatregel.voorval.club.naam_kort }}</td>
	    <td>{{ maatregel.voorval.datum|date:"SHORT_DATE_FORMAT" }}</td>
	    <td>{{ maatregel.voorval.synopsis|truncatewords:20 }}</td>
	    <td>{{ maatregel.omschrijving|truncatewords:20 }}</td>
	    <td>{{ maatregel.in_werking|date:"SHORT_DATE_FORMAT" }}</td>
	    <td><a href="{% url 'report_ia:maatregel_update' maatregel.id %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td><a href="{% url 'report_ia:maatregel_delete' maatregel.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a></td>
	   </tr>
           {% endfor %}
	  </tbody>
         </table>
	</div>
{% else %}
    <p>Er zijn nog geen maatregelen geregistreerd.</p>
{% endif %}

{% endblock %}