<div class="ingave-class">
<nav class="navbar navbar-default">
<div class="container-fluid">
 <div class="navbar-header">
	{% if lijst == 'voorval' %}
          <a class="navbar-brand" href="{% url 'report_ia:home' %}"><span class="glyphicon glyphicon-menu-left"></span>e-IA LVZC</a>
	  <a href="{% url 'report_ia:voorval_create' %}" class="btn btn-info navbar-btn" role="button">Voorval Ingeven</a>
	{% elif lijst == 'voorval_create' %}
          <a class="navbar-brand" href="{% url 'report_ia:voorval_lijst' %}"><span class="glyphicon glyphicon-menu-left"></span>Overzicht voorvallen</a>
        {% elif lijst == 'maatregel' %}
	  <a class="navbar-brand" href="{% url 'report_ia:voorval_lijst' %} "><span class="glyphicon glyphicon-menu-left"></span>Overzicht voorvallen</a>
	  <a href="{% url 'report_ia:maatregel_create' voorval_id %}" class="btn btn-info navbar-btn" role="button">Maatregel Ingeven</a>
        {% elif lijst == 'maatregel_create' %}
	  <a class="navbar-brand" href="{% url 'report_ia:maatregel_lijst' voorval_id %}"><span class="glyphicon glyphicon-menu-left"></span>Overzicht Maatregelen</a>
        {% elif lijst == 'start' %}
	  <a class="navbar-brand" href="{% url 'report_ia:starts_list' %} "><span class="glyphicon glyphicon-menu-left"></span>Overzicht starts</a>
        {% else %}
   	  <a class="navbar-brand" href="{% url 'report_ia:home' %}"><span class="glyphicon glyphicon-menu-left"></span>e-IA LVZC</a> 	  
        {% endif %} 
  </div>
    <ul class="nav navbar-nav navbar-right"> 
	{% if action == 'create' %}
	<p class="navbar-text"> Aanmaken </p>
	{% elif action == 'update' %}
	<p class="navbar-text"> Aanpassen </p>
	{% endif %}
	<p class="navbar-text"> {{club}} </p>
	<p class="navbar-text"> {{user.username}} </p>
	<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Afmelden</a></li>    
    </ul>
</div>
</nav>

