<nav role="navigation" class="navbar navbar-default">
 <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="{% url 'report_ia:home' %}"><span class="glyphicon glyphicon-home"></span></a>
     </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	{% if lijst == 'voorval' %}
	  <li><a href="{% url 'report_ia:voorval_create' %}" class="btn btn-info navbar-btn" role="button">Voorval Ingeven</a></li>
	{% elif lijst == 'voorval_create' %}
          <li><a class="navbar-brand" href="{% url 'report_ia:voorval_lijst' %}">Overzicht voorvallen</a></li>
        {% elif lijst == 'maatregel' %}
	  <li><a class="navbar-brand" href="{% url 'report_ia:voorval_lijst' %} ">Overzicht voorvallen</a></li>
	  <li><a href="{% url 'report_ia:maatregel_create' voorval_id %}" class="btn btn-info navbar-btn" role="button">Maatregel Ingeven</a></li>
        {% elif lijst == 'maatregel_create' %}
	  <li><a class="navbar-brand" href="{% url 'report_ia:maatregel_lijst' voorval_id %}">Overzicht Maatregelen</a></li>
        {% elif lijst == 'start' %}
	  <li><a class="navbar-brand" href="{% url 'report_ia:starts_lijst' %} ">Overzicht starts</a></li>
        {% endif %} 
     </ul>
    <ul class="nav navbar-nav navbar-right"> 
	<p class="navbar-text"> {{club}} </p>
	<p class="navbar-text"> {{user.username}} </p>
	<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Afmelden</a></li>    
    </ul>
  </div>
</nav>

