{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
 <script>
$(document).ready(function() {
	$('.has-popover').popover({'trigger':'hover'});
	$('.datepicker').datepicker({'dateFormat':'dd/mm/yy'});
});
  </script>
<div class="ingave-class">
{% include "navbar.html"  %}
<p class="lead">Starts invullen</p>
   <form  class="form-vertical" method="POST">
        {% csrf_token %}
	{% for field in form %}
           {% if field.field.required %}
   	    {% bootstrap_icon "star" %}
           {% endif %}
	  {% bootstrap_label field.label_tag  %}
	  {% bootstrap_field field show_label=False  %}
        {% endfor %}
	<button type="submit" class="btn btn-primary">
	  {% bootstrap_icon "star" %} Opslaan
	</button>
	<button type="Reset" class="btn">
	  Reset
	</button>
    </form>
</div>
{% endblock %}