{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<script>
$(document).ready(function() {
	$('.has-popover').popover({'trigger':'hover'});
	$('.datepicker').datepicker({'dateFormat':'dd/mm/yy'});
});
</script>
<div class="ingave-class">
{% include "navbar.html" %}
<p class="lead">Automatisch aanmaken van de start-records van alle clubs</p>
  <h3><b>Aanmaken start records alle clubs : </b></h3> 
   <form  class="form-vertical" method="POST">
        {% csrf_token %}
        {% bootstrap_form form layout="vertical" %}
        {% buttons submit='Uitvoeren' reset="Cancel" layout='horizontal' %}{% endbuttons %}
    </form>
</div>
{% endblock %}