{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
 <script>
$(document).ready(function() {
	$('.has-popover').popover({'trigger':'hover'});
	$('.datepicker').datepicker({'dateFormat':'dd/mm/yy'});
	//hide textarea if there is no damage (geen schade = 1)
	//$('#id_schade_omschrijving').hide();
        //$("label[for='id_schade_omschrijving']").hide();
	$('#id_type_schade').on('change', function() {         
	   var selectedValue = $(this).val();
	   if (selectedValue != 1){
              $('#id_schade_omschrijving').show();
              $("label[for='id_schade_omschrijving']").show();
           }else{
	      $('#id_schade_omschrijving').hide();
              $("label[for='id_schade_omschrijving']").hide();
	      $('#id_schade_omschrijving').val("");
           }
        });
	//show andere_locatie if a locatie has been empty (--  = null)
	//$('#id_andere_locatie').hide();
        //$("label[for='id_andere_locatie']").hide();
	$('#id_locatie').on('change', function() {         
	   var selectedValue = $(this).val();
	   if (selectedValue){
              $('#id_andere_locatie').hide();
              $("label[for='id_andere_locatie']").hide();
               $('#id_andere_locatie').val("");
           }else{
	      $('#id_andere_locatie').show();
              $("label[for='id_andere_locatie']").show(); 
           }
         });
	$('#id_type_schade').trigger('change');
	$('#id_locatie').trigger('change');
  
});
$(function() {
  $("#id_zoek_type_toestel").autocomplete({
    source: "/report_ia/zwevers/",
    minLength: 2,
    select: function( event, ui ) {
        $("#id_type_toestel").val(ui.item.id) ;
    }
  });
});
      
  </script>
{% include "navbar_simpel.html" with lijst="voorval_create" %}
  <h3>Feitelijke gegevens over het voorval : </h3> 
   <form  class="form-vertical" method="POST">
        {% csrf_token %}
	{% for field in form %}
         {% if field.name == 'mens' %}
           <div class="form-inline">
             <h4>MUOPO</h4>
         {% endif %}          
          {% if field.name not in form.boolean_set %}
   	    {% bootstrap_label field.label_tag  %}
          {% endif %}
	  {% bootstrap_field field show_label=False  %}
         {% if field.name == 'organisatie'  %}
           </div>
         {% endif %}
        {% endfor %}
	<button type="submit" class="btn btn-primary">
	  {% bootstrap_icon "star" %} Opslaan en verzenden
	</button>
	<button type="Reset" class="btn">
	  Reset
	</button>

    </form>


</div>
{% endblock %}