{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="ingave-class">
{% include "navbar.html" %}
 <p class="lead">Overzicht voorvallen</p>
{% if object_list %}
    <div class="ingave-lijst">
      <div class="table-responsive">
	<table class="table table-bordered">
        <thead>
            <tr>
	        <th>Club</th>
                <th>Datum voorval</th>
                <th>Type voorval</th>
		<th>Locatie</th>
	        <th>Type toestel</th>
		<th>ATO</th>
                <th>Opleiding</th>
                <th>Relaas</th>
	        <th colspan="2">Acties Bestand</th>
{% if ausr.is_admin or ausr.is_super%}
	        <th colspan="4">Acties Voorval</th>
	        <th colspan="2">Acties Maatregel</th>
{% endif %}
            </tr>
        </thead>
        <tbody>
	  {% for voorval in object_list %}
	  {% if voorval.is_recent %}
	    <tr class="warning">
	  {% else %}
	     {% if voorval.has_maatregel  %}
	      <tr class="info">
	     {% else %}
              <tr class="danger">
	     {% endif %}
	  {% endif %}
	    <td>{{ voorval.club.naam_kort }}</td>
	    <td>{{ voorval.datum|date:"SHORT_DATE_FORMAT" }}</td>
	    <td>{{ voorval.type_voorval }}</td>
            <td>{{ voorval.locatie }}</td>
	    <td>{{ voorval.type_toestel }}</td>
	    <td>{{ voorval.ato }}</td>
	    <td>{{ voorval.opleiding }}</td>
	    <td>{{ voorval.synopsis|truncatewords:20 }}</td>
	    <td><a href="{% url 'report_ia:upload_bestand' voorval.id %}" class="btn btn-success btn-sm" data-toggle="bestand" title="bestand uploaden" data-content="Default"><span class="glyphicon glyphicon-upload"></span></a></td>
	    <td><a href="{% url 'report_ia:bestand_lijst' voorval.id %}" class="btn btn-success btn-sm"  data-toggle="bestand" title="naar lijst bestanden" data-content="Default"><span class="badge">{{ voorval.aantal_bestanden }}</span></a></td>
{% if ausr.is_admin or ausr.is_super%}
	    <td><a href="{% url 'report_ia:voorval_update' voorval.id %}" class="btn btn-success btn-sm" data-toggle="voorval" title="voorval aanpassen" data-content="Default"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td><a href="{% url 'report_ia:voorval_detail' voorval.id %}" class="btn btn-success btn-sm"  data-toggle="voorval" title="voorval bekijken" data-content="Default"><span class="glyphicon glyphicon-eye-open"></span></a></td>
	    <td><a href="{% url 'report_ia:voorval_detail_doc' voorval.id %}" class="btn btn-success btn-sm"  data-toggle="voorval" title="voorval in document" data-content="Default"><span class="glyphicon glyphicon-file"></span></a></td>
{% if ausr.is_super %}
            {% if voorval.aantal_maatregelen %}
	    <td><a href="{% url 'report_ia:voorval_delete' voorval.id %}" class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-trash"></span></a></td>
            {% else %}
	    <td><a href="{% url 'report_ia:voorval_delete' voorval.id %}" class="btn btn-danger btn-sm"  data-toggle="voorval" title="voorval verwijderen" data-content="Default"><span class="glyphicon glyphicon-trash"></span></a></td>
            {% endif %}
{% else %}
	    <td><a href="{% url 'report_ia:voorval_delete' voorval.id %}" class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-trash"></span></a></td>
{% endif %}
{% endif %}
{% if ausr.is_admin or ausr.is_super %}
	<td><a href="{% url 'report_ia:maatregel_create' voorval.id %}" class="btn btn-success btn-sm"  data-toggle="maatregel" title="maatregel aanmaken" data-content="Default"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
	<td><a href="{% url 'report_ia:maatregel_lijst' voorval.id %}" class="btn btn-success btn-sm"  data-toggle="maatregel" title="naar lijst maatregels" data-content="Default"><span class="badge">{{ voorval.aantal_maatregelen }}</span></a></td>
{% endif %}
	   </tr>
           {% endfor %}
	  </tbody>
         </table>
	</div>
       </div>
{% else %}
    <p>Er zijn nog geen voorvallen geregistreerd.</p>
{% endif %}

{% endblock %}