{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<style type="text/css">
    .ingave-lijst{
    	margin: 20px;
    }
</style>

{% include "navbar_simpel.html" with lijst='voorval_create' %}      

{% if object_list %}
    <div class="ingave-lijst">
      <div class="table-responsive">
	<table class="table table-bordered">
        <thead>
            <tr>
	        <th>Club</th>
                <th>Aantal</th>
            </tr>
        </thead>
        <tbody>
	  {% for voorval in object_list %}
	  <tr>
	    <td><a href="{% url 'report_ia:voorval_lijst' voorval.club__id %}">{{ voorval.club__naam }}</a></td>
	    <td>{{ voorval.aantal_voorvallen }}</td>
	   </tr>
           {% endfor %}
	  </tbody>
         </table>
	</div>
      </div>
{% else %}
    <p>Er zijn nog geen voorvallen geregistreerd.</p>
{% endif %}



{% endblock %}