{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<style type="text/css">
    .ingave-lijst{
    	margin: 20px;
    }
</style>

<div class="ingave-lijst">
<h4><span class="label label-default"> {{user.username}} </span></h4>
<h4><span class="label label-default"> {{club}} </span></h4>
</div>
<div class="page-menu">
<ul class="breadcrumb">
	<li><a href="{% url 'report_ia:voorval_create' %}">Nieuw voorval</a></li>
	<li><a href="{% url 'logout' %}">Afmelden</a></li>
{% if ausr.is_super %}
	<li><a href="{% url 'report_ia:voorval_overzicht' %}">Totalen</a></li>
	<li><a href="{% url 'report_ia:voorval_export' %}">Exporteren</a></li>
	<li><a href="{% url 'admin:index' %}">Administrator</a></li>
{% endif %}
</ul>
</div>
      
{% if object_list %}
    <div class="ingave-lijst">
	<table class="table table-bordered">
        <thead>
            <tr>
	        <th>Club</th>
                <th>Datum ingave</th>
                <th>Type voorval</th>
                <th>Opleiding</th>
                <th>Synopsis</th>
            </tr>
        </thead>
        <tbody>
	  {% for voorval in object_list %}
	  {% if voorval.is_recent %}
	    <tr class="warning">
	  {% else %}
	    <tr>
	  {% endif %}
	    <td>{{ voorval.club }}</td>
	    <td>{{ voorval.ingave }}</td>
	    <td>{{ voorval.type_voorval }}</td>
	    <td>{{ voorval.opleiding }}</td>
	    <td>{{ voorval.synopsis }}</td>
	    <td><a href="{% url 'report_ia:voorval_update' voorval.id %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td><a href="{% url 'report_ia:voorval_delete' voorval.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a></td>
	   </tr>
           {% endfor %}
	  </tbody>
         </table>
	</div>
{% else %}
    <p>Er zijn nog geen voorvallen geregistreerd.</p>
{% endif %}

{% endblock %}