{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
    .ingave-class{
    	margin: 20px;
	body: 900px;
    }
</style>
{% include "navbar_simpel.html" with lijst="voorval_create" %}
<div class="ingave-class">
<p><h2>Uw voorval werd opgeslagen
	 en een email verzonden naar de verantwoordelijke
	 ATO safety en AHoT's van uw club</h2>
 {% if emails %}
	  <ul class="list-group">
	  {% for email in emails %}
	    <li class="list-group-item" >{{ email }}
	  {% endfor %}
	  </ul>
{% endif %}

</div>
{% endblock %}