{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
 <script>
$(document).ready(function() {
//	$('.has-popover').popover({'trigger':'click'});
	$('.datepicker').datepicker({'dateFormat':'dd/mm/yy'});
	//hide textarea if there is no damage (geen schade = 1)
	//$('#id_schade_omschrijving').hide();
        //$("label[for='id_schade_omschrijving']").hide();
	$('#id_type_schade').on('change', function() {         
	   var selectedValue = $(this).val();
	   if (selectedValue != 1){
              $('#id_schade_omschrijving').show();
              $("label[for='id_schade_omschrijving']").show();
           }else{
	      $('#id_schade_omschrijving').hide();
              $("label[for='id_schade_omschrijving']").hide();
	      $('#id_schade_omschrijving').val("");
           }
        });
	//show andere_locatie if a locatie has been empty (--  = null)
	//$('#id_andere_locatie').hide();
        //$("label[for='id_andere_locatie']").hide();
	$('#id_locatie').on('change', function() {         
	   var selectedValue = $(this).val();
	   if (selectedValue != 1){
              $('#id_andere_locatie').hide();
              $("label[for='id_andere_locatie']").hide();
               $('#id_andere_locatie').val("");
           }else{
	      $('#id_andere_locatie').show();
              $("label[for='id_andere_locatie']").show(); 
           }
         });
	$('#id_ato').on('change', function() {         
	   var selectedValue = $(this).val();
	   //ato opleiding = 1
	   if (selectedValue != 1){ 
              $('#id_opleiding').hide();
              $("label[for='id_opleiding']").hide();
           }else{
	      $('#id_opleiding').show();
              $("label[for='id_opleiding']").show(); 
           }
         });
	$('#id_type_schade').trigger('change');
	$('#id_locatie').trigger('change');
        $('#id_ato').trigger('ato');
  
});
$(function() {
  $("#id_zoek_type_toestel").autocomplete({
    source: "/report_ia/zwevers/",
    minLength: 2,
    select: function( event, ui ) {
        $("#id_type_toestel").val(ui.item.id) ;
    }
  });
});
      
  </script>
<div class="ingave-class">

{% include "navbar.html" %}
 <p class="lead">Voorval {{ action }}</p>
  <h3><b>Feitelijke gegevens over het voorval</b></h3> 
   <form  class="form-vertical" method="POST">
        {% csrf_token %}
	{% for field in form %}
         {% if field.name == 'mens' %}
               <h3><b>Onderzoek voorval</b></h3>
             <h4>Duid de factor(en) aan die een oorzakelijk verband hebben met het voorval (MUOPO principe)</h4>
         {% endif %}   
         {% if field.name == 'windsterkte' %}
             <h4>Meteo</h4>
         {% endif %}
          {% if field.name not in form.boolean_set %}
           {% if field.field.required %}
   	    {% bootstrap_icon "star" %}
           {% endif %}
           {% bootstrap_label field.label_tag  %}
          {% endif %}
	  {% bootstrap_field field show_label=False  %}
         {% endfor %}
	<button type="submit" class="btn btn-primary">
	  {% bootstrap_icon "star" %} Opslaan en verzenden
	</button>
	<button type="Reset" class="btn">
	  Reset
	</button>
    </form>
</div>
{% endblock %}